@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body {
	width:100%;
	height:100%;
}
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	line-height: 2;
}
#showcase {
  margin: 0;
  padding: 0;
  background: url('../img/showcase.jpg') no-repeat center bottom/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  color: white;

}
.container {
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	overflow-y: hidden;
}
#logo-container {
	display: block;
	width: 100%;
	border-bottom: 2px dashed gray;
}
#logo {
	display: block;
	margin: 30px auto;
	width: 20%;	
}
#section-header{
	display: block;
	height: 70px;
	width: 100%;
	color: #09511C;
}
.guides {
	display: inline-grid;
	width: 180px;
	margin: 0 15px;
}
h1{
	margin-top:120px;
}
.heading-cats{
	margin: 8px 0;
	padding: 3px 0;
	background-color: #09511C;
	color: white;
	height: 80px;
	width: 100%;
}
.heading-cats:hover{
	cursor: pointer;
	background-color: #129E36;
}
.heading-cat-description{
	margin-top: -30px;
}
.cat-content{
	display: none;
}
#foot {
	margin-top: 20px;
	display: block;
}
#foot h2 {
	display: inline-flex;
	width: 20%;
	margin-left: 20%;
}
#contacts {
	display: inline-flex;
	width: 30%;

}
nav {
	height: 50px;
	width: 100%;
	border-bottom: 2px dashed gray;
	background-color: white;
	position: fixed;
	top: 0;

}	
nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	display: inline;
	float: right;
	color: white;
}

nav a {
	display: inline-block;
	width: 160px; 
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	color: gray;

}

 .mobile {
	  display: none;
  }

@media screen and (max-width: 540px){
  h1 {
	  font-size: 1.8em;
	  margin-top: 60px;
  }
  .pc {
	display: none;
	}
  .mobile {
	display: inline-flex;
    width: 33%;
  }
  a {
	width: 30px;
	margin: 0 20px;
  }
  .heading-cat-description{
  	display: none;
  }
  #logo{
  	width: 150px;
  }
} // media

